.btn-bordered {
  box-sizing: content-box;
  border: 1px solid #aaaaaa90;
}

a.breadcrumb::before {
  color: currentColor;
}

.glass {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
}

.glass-light {
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(15px);
}

.rounded {
  border-radius: 16px;
}

body {
  background: #74ebd5;
  background: -webkit-linear-gradient(-45deg, #acb6e5, #74ebd5) fixed;
  background: linear-gradient(-45deg, #acb6e5, #74ebd5) fixed;
}

nav {
  transition: all 0.3s ease-in-out;
}

.brand-logo {
  font-size: 2rem !important;
  font-weight: 500 !important;
}

.spacer-10 {
  height: 10vh;
  width: 100%;
}

.light-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

.bold {
  font-weight: 500 !important;
}

.social-icon {
  font-size: 2.1rem !important;
  margin: 0.75rem;
}

.social-icon:hover {
  color: #000 !important;
}

.contact-link {
  font-size: 1.25rem !important;
  margin-bottom: 0.9rem;
}

.intro-text {
  font-size: 2.5rem !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.work-logo {
  max-width: 104px !important;
}

.text-caption {
  font-size: 0.9rem !important;
}

.award-icon {
  padding-left: 15px;
  padding-top: 48px;
}

.paper-icon {
  width: 128px;
  height: 128px;
}

.skill {
  display: inline-block;
  padding: 8px;
}

.skill-image {
  width: 64px;
  height: 64px;
}

#waitoverlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* White background with opacity */
  z-index: 2000;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.photo-scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
}

.photo {
  display: inline-block;
  height: 300px;
  width: auto;
  margin-right: 8px;
}

.photo-small {
  margin-bottom: 4px !important;
}

.photo-column {
  padding: 4px !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.rounded-photo {
  border-radius: 12px;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
