<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Akanksha Kale</title>

    <link rel="shortcut icon" href="/images/akanksha.png" type="image/png" />
    <link rel="icon" href="/images/akanksha.png" type="image/png" />

    <link rel="stylesheet" href="/css/lib/materialize.min.css" />
    <link rel="stylesheet" href="/css/lib/dayshmookh.layout.css" />
    <link rel="stylesheet" href="/css/lib/MaterialIcons.css" />
    <link rel="stylesheet" href="/css/lib/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/lib/dayshmookh.gradients.css" />
    <link rel="stylesheet" href="/css/lib/animate.min.css" />
    <link rel="stylesheet" href="/css/lib/aos.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="z-depth-0" id="nav" :class="backgroundClass">
          <div class="nav-wrapper">
            <a
              href="#"
              class="
                brand-logo
                blue-grey-text
                text-darken-4
                hide-on-med-and-down
              "
            >
              Akanksha Kale
            </a>

            <a
              href="#!"
              data-target="mobile-nav"
              class="sidenav-trigger blue-grey-text text-darken-4"
            >
              <i class="material-icons"> menu </i>
            </a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a class="blue-grey-text text-darken-4" href="#intro">
                  Intro
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#about">
                  About Me
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#coursework">
                  Coursework
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#experience">
                  Experience
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#awards">
                  Awards
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#publications">
                  Publications
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#skills">
                  Skills
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#projects">
                  Projects
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#photography">
                  Photography
                </a>
              </li>

              <li>
                <a class="blue-grey-text text-darken-4" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <ul class="sidenav" id="mobile-nav">
        <li>
          <a class="blue-grey-text text-darken-4" href="#intro"> Intro </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#about"> About Me </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#coursework">
            Coursework
          </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#awards"> Awards </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#experience">
            Experience
          </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#publications">
            Publications
          </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#skills"> Skills </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#projects">
            Projects
          </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#photography">
            Photography
          </a>
        </li>

        <li>
          <a class="blue-grey-text text-darken-4" href="#contact"> Contact </a>
        </li>
      </ul>
    </header>

    <main>
      <div class="container">
        <section id="intro" class="section screen-height valign-wrapper">
          <div class="row full-width">
            <div class="col s12 center">
              <img
                src="/images/akanksha.png"
                alt="Akanksha Kale"
                class="responsive-img circle"
                style="max-width: 40vw"
                data-aos="zoom-in"
              />
            </div>

            <div class="col s12 center" data-aos="fade-down">
              <h1 class="intro-text">
                Hello! I'm
                <span class="bold">Akanksha Kale</span>.
              </h1>
              <p class="flow-text center no-margin">
                I write, wander and ‘preserve’ moments as .img.
              </p>
            </div>

            <div class="col s12 center margined-top-compact" data-aos="fade-up">
              <a
                class="social-icon blue-grey-text"
                href="mailto:akanksha.kale@outlook.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>

              <a
                class="social-icon blue-grey-text"
                href="tel:+16319614550"
                target="_blank"
              >
                <i class="fas fa-phone-alt"></i>
              </a>

              <a
                class="social-icon blue-grey-text"
                href="https://github.com/akankshaakale"
                target="_blank"
              >
                <i class="fab fa-github"></i>
              </a>

              <a
                class="social-icon blue-grey-text"
                href="https://www.instagram.com/aakankshaa_kale/"
                target="_blank"
              >
                <i class="fab fa-instagram"></i>
              </a>

              <a
                class="social-icon blue-grey-text"
                href="https://www.linkedin.com/in/akankshaakale/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </div>

            <div class="col s12 center margined-top-compact">
              <a
                href="/docs/ResumeOct21.pdf"
                class="btn waves-effect waves-light blue-grey darken-2"
                target="_blank"
                data-aos="fade-up"
              >
                Resume
              </a>
            </div>

            <div class="col s12 center" data-aos="fade-down">
              <div class="spacer-10"></div>

              <a href="#about" class="white-text">
                <i
                  class="
                    material-icons
                    medium
                    animate__animated
                    animate__bounce
                    animate__slower
                    animate__infinite
                  "
                >
                  keyboard_arrow_down
                </i>
              </a>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="row">
            <div class="col s12">
              <div
                id="about"
                class="card-panel z-depth-0 rounded padded-comfortable"
                data-aos="zoom-in-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  a <span class="indigo-text">little</span> about me
                </h4>

                <blockquote>
                  Thank you for stopping by.
                  <br />
                  <br />
                  I was born in West India and then I grew up or so they say –
                  but I’d like to believe I still have a long way to go.
                  <br />
                  During my Bachelor's, I was selected as one of the Young
                  Innovators of India by the Prime Ministers' Office to
                  represent the country at an International Hackathon and got
                  felicitated by the Indian Prime Minister and the Education
                  Minister of Singapore as my team finished as the runner’s up.
                  This shaped my life in ways I can’t express enough.
                  <br />
                  <br />
                  I spend most of my free time planning my activities and
                  writing about every little thing I can. On most days, you’ll
                  find me diving deeper and deeper into the realms of Computer
                  Science.
                  <br />
                  Although I not-so-secretly wish I was a writer of dark
                  academia and could teleport to a world with vintage clothes,
                  decorated walls and jazz music and lighted candles.
                  <br />
                  I do feel a strong connection with images. I have put some
                  images close to my heart. I hope you like them too.
                  <br />
                  <br />
                  I am extremely passionate about learning new things and
                  obsessively read 15+ books a year. I think I’m sarcastic and
                  blunt. However, most people find me amicable. I hope you
                  discover a different shade of me someday!
                </blockquote>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="featured"
                class="card-panel glass-light z-depth-0 rounded"
              >
                <div class="row no-margin">
                  <h4
                    class="
                      col
                      s12
                      center
                      margined-bottom-comfortable
                      indigo-text
                      text-darken-4
                    "
                  >
                    {{ headers[activeHeader] }}
                  </h4>

                  <div
                    class="col m1 l2 hide-on-small-only valign-wrapper"
                    :style="'height: '+ carouselHeight + 'px'"
                  >
                    <div class="full-width center">
                      <div class="btn-floating" @click="carouselPrev">
                        <i class="material-icons">chevron_left</i>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m10 l8">
                    <div
                      id="featured-carousel"
                      class="carousel carousel-slider center rounded"
                      :style="'height: '+ carouselHeight + 'px'"
                    >
                      <div class="carousel-item" data-index="0">
                        <img src="/images/carousel/1.jpg" />
                      </div>
                      <div class="carousel-item" data-index="1">
                        <img src="/images/carousel/2.jpg" />
                      </div>
                      <div class="carousel-item" data-index="2">
                        <img src="/images/carousel/3.jpg" />
                      </div>
                    </div>
                  </div>
                  <div
                    class="col m1 l2 hide-on-small-only valign-wrapper"
                    :style="'height: '+ carouselHeight + 'px'"
                  >
                    <div class="full-width center">
                      <div class="btn-floating" @click="carouselNext">
                        <i class="material-icons">chevron_right</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m5">
              <div
                id="coursework"
                class="
                  card-panel
                  glass-light
                  z-depth-0
                  rounded
                  margined-bottom-compact
                "
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">coursework</span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="col s12"
                    v-for="(work, index) in courseworks"
                    :class="{ 'margined-bottom-compact': index != courseworks.length-1 }"
                  >
                    <div
                      class="card glass-light rounded z-depth-0 no-margin"
                      data-aos="fade-down"
                    >
                      <div class="card-content">
                        <span class="card-title">
                          <i
                            class="fas fa-graduation-cap margined-right-compact"
                          ></i>
                          {{ work.college }}
                        </span>

                        <div v-for="sem in work.semesters">
                          <blockquote>
                            {{ sem.time }} | {{ sem.name }}
                          </blockquote>

                          <div v-if="sem.courses && sem.courses.length">
                            <p class="indigo-text bold margined-bottom-compact">
                              Courses
                            </p>
                            <ul>
                              <li v-for="course in sem.courses">
                                {{ course.name }} &bull;
                                <span class="grey-text">
                                  {{ course.professor }}
                                </span>
                              </li>
                            </ul>
                          </div>

                          <div v-if="sem.projects && sem.projects.length">
                            <p class="indigo-text bold margined-bottom-compact">
                              Projects
                            </p>
                            <ul class="no-margin-bottom">
                              <li v-for="project in sem.projects">
                                <span class="bold blue-grey-text">
                                  {{ project.topic }}
                                </span>
                                <br />
                                {{ project.title }}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                id="awards"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">achievements</span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="col s12"
                    v-for="(award, index) in awards"
                    :class="{ 'margined-bottom-compact': index != awards.length-1 }"
                  >
                    <div
                      class="card glass-light rounded z-depth-0 no-margin"
                      data-aos="fade-down"
                    >
                      <div
                        class="card horizontal z-depth-0 no-margin transparent"
                      >
                        <div class="card-image award-icon" v-if="award.icon">
                          <img :src="award.icon" />
                        </div>
                        <div class="card-stacked">
                          <div class="card-content no-padding">
                            <div class="padded-compact">
                              <span class="text-caption">
                                {{ award.date }}
                              </span>
                              <span class="card-title">
                                {{ award.event }}
                              </span>
                              <blockquote
                                v-if="award.position"
                                class="no-margin"
                              >
                                {{ award.position }}
                              </blockquote>
                              <p class="grey-text padded-top-compact">
                                {{ award.description }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12 m7">
              <div
                id="experience"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">experience</span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="col s12"
                    v-for="(experience, index) in experiences"
                    :class="{ 'margined-bottom-compact': index != experiences.length-1 }"
                  >
                    <div
                      class="card glass-light rounded z-depth-0 no-margin"
                      data-aos="fade-down"
                    >
                      <div
                        class="card horizontal z-depth-0 no-margin transparent"
                      >
                        <div class="card-image" v-if="experience.logo">
                          <img class="work-logo" :src="experience.logo" />
                        </div>
                        <div class="card-stacked">
                          <div class="card-content no-padding">
                            <div class="margined-compact">
                              <span class="card-title">
                                {{ experience.company }}
                              </span>
                              <p
                                class="blue-grey-text"
                                v-if="experience.location"
                              >
                                <i
                                  class="
                                    fas
                                    fa-map-marker-alt
                                    margined-right-compact
                                  "
                                ></i>
                                {{ experience.location }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="divider"></div>

                      <div class="card-content">
                        <ul class="no-margin">
                          <li v-for="position in experience.positions">
                            <h6>
                              <span class="bold indigo-text">
                                {{ position.title }}
                              </span>
                              <span
                                class="blue-grey-text"
                                v-if="position.dates"
                              >
                                &bull; {{ position.dates }}
                              </span>
                            </h6>
                            <p v-html="position.description"></p>
                            <p
                              class="blue-grey-text"
                              v-if="position.supervisor"
                            >
                              Supervisor: {{ position.supervisor }}
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="publications"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">publications</span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="col s12 m6 l4"
                    v-for="(paper, index) in publications"
                    :class="{ 'margined-bottom-compact': index != publications.length-1 }"
                  >
                    <div
                      class="card glass-light rounded z-depth-0 no-margin"
                      data-aos="fade-down"
                    >
                      <div class="card-content center">
                        <img
                          class="paper-icon circle margined-bottom-compact"
                          :src="paper.icon"
                        />

                        <span class="card-title">{{ paper.title }}</span>
                        <p class="blue-grey-text">{{ paper.journal }}</p>
                      </div>
                      <div class="card-action center">
                        <a
                          class="btn-flat indigo white-text no-margin-strict"
                          :href="paper.url"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          Abstract
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="skills"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">skills</span>
                </h4>

                <div class="row no-margin">
                  <div class="col s12 m6 l4">
                    <img
                      src="/images/MeCoding.jpg"
                      alt=""
                      class="full-width rounded"
                    />
                  </div>
                  <div class="col s12 m6 l8 center">
                    <div class="skill" v-for="(skill, index) in skills">
                      <i
                        v-if="skill.icon"
                        :class="skill.icon"
                        class="skill-icon large tooltipped"
                        :data-tooltip="skill.title"
                        data-position="top"
                      ></i>
                      <img
                        v-if="skill.image"
                        :src="skill.image"
                        alt=""
                        class="skill-image tooltipped"
                        :data-tooltip="skill.title"
                        data-position="top"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="projects"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">
                    collaborative work
                  </span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="col s12 m6 l4"
                    v-for="(project, index) in projects"
                    :class="{ 'margined-bottom-compact': index != projects.length-1 }"
                  >
                    <div
                      class="card glass-light rounded z-depth-0 no-margin"
                      data-aos="fade-down"
                    >
                      <div class="card-image" v-if="project.image">
                        <img
                          :src="project.image"
                          :alt="project.title"
                          class="zoomer"
                        />
                      </div>
                      <div class="card-content center">
                        <span class="card-title">{{ project.title }}</span>
                        <p class="blue-grey-text">{{ project.description }}</p>
                      </div>
                      <div class="card-action center">
                        <a
                          class="btn-flat btn-floating teal white-text"
                          v-if="project.link"
                          :href="project.link"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <i class="fas fa-link"></i>
                        </a>
                        <a
                          class="btn-flat btn-floating red white-text"
                          v-if="project.youtube"
                          :href="project.youtube"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <i class="fab fa-youtube"></i>
                        </a>
                        <a
                          class="btn-flat btn-floating black white-text"
                          v-if="project.github"
                          :href="project.github"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <i class="fab fa-github"></i>
                        </a>
                        <a
                          class="btn-flat btn-floating white white-text"
                          v-if="!project.github && !project.link && !project.youtube"
                        >
                          <i class="fas fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="photography"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4">photography</span>
                </h4>

                <div class="row no-margin">
                  <div
                    class="
                      col
                      s12
                      photo-scrolling-wrapper
                      scrollbar-hidden
                      hide-on-small-only
                      margined-bottom-compact
                    "
                  >
                    <div
                      class="photo"
                      v-for="(photo, index) in photos"
                      v-if="index % 2 == 0"
                    >
                      <img :src="photo" alt="" class="photo" />
                    </div>
                  </div>

                  <div
                    class="
                      col
                      s12
                      photo-scrolling-wrapper
                      scrollbar-hidden
                      hide-on-small-only
                    "
                  >
                    <div
                      class="photo"
                      v-for="(photo, index) in photos"
                      v-if="index % 2 == 1"
                    >
                      <img :src="photo" alt="" class="photo" />
                    </div>
                  </div>

                  <div class="col s6 hide-on-med-and-up photo-column no-margin">
                    <img
                      :src="photo"
                      v-for="(photo, index) in photos"
                      v-if="index % 2 == 0"
                      class="full-width photo-small"
                    />
                  </div>

                  <div class="col s6 hide-on-med-and-up photo-column no-margin">
                    <img
                      :src="photo"
                      v-for="(photo, index) in photos"
                      v-if="index % 2 == 1"
                      class="full-width photo-small"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div
                id="contact"
                class="card-panel glass-light z-depth-0 rounded"
                data-aos="fade-up"
              >
                <h4 class="center margined-bottom-comfortable">
                  <span class="indigo-text text-darken-4"> contact me </span>
                </h4>

                <div class="row no-margin">
                  <div class="col s12 m6">
                    <div
                      class="
                        card
                        glass-light
                        rounded
                        z-depth-0
                        no-margin
                        margined-bottom-compact
                      "
                    >
                      <div class="card-content">
                        <ul class="flow-text no-overflow no-margin">
                          <li class="valign-wrapper contact-link">
                            <i class="social-icon fas fa-envelope"></i>
                            <a href="mailto:akanksha.kale@outlook.com">
                              akanksha.kale@outlook.com
                            </a>
                          </li>

                          <li class="valign-wrapper contact-link">
                            <i class="social-icon fas fa-envelope"></i>
                            <a href="mailto:akkale@cs.stonybrook.edu">
                              akkale@cs.stonybrook.edu
                            </a>
                          </li>

                          <li class="valign-wrapper contact-link">
                            <i class="social-icon fas fa-phone-alt"></i>
                            <a href="tel:+16319614550">+16319614550</a>
                          </li>

                          <li class="valign-wrapper contact-link">
                            <i class="social-icon fas fa-map-marker-alt"></i>
                            <span> Stony Brook, New York </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m6">
                    <div class="card glass-light rounded z-depth-0 no-margin">
                      <div class="card-content">
                        <div class="row no-margin">
                          <div class="input-field col s12">
                            <input
                              type="text"
                              id="input_name"
                              v-model="contactInfo.name"
                              autocomplete="name"
                            />
                            <label for="input_name">Your Name</label>
                          </div>

                          <div class="input-field col s12">
                            <input
                              type="tel"
                              id="input_phone"
                              v-model="contactInfo.phone"
                              autocomplete="tel"
                            />
                            <label for="input_phone">Phone</label>
                          </div>

                          <div class="input-field col s12">
                            <input
                              type="email"
                              id="input_email"
                              v-model="contactInfo.email"
                              autocomplete="email"
                            />
                            <label for="input_email">Email</label>
                          </div>

                          <div class="input-field col s12">
                            <textarea
                              class="materialize-textarea"
                              id="input_message"
                              v-model="contactInfo.message"
                            ></textarea>
                            <label for="input_message">Message</label>
                          </div>

                          <div class="col s12">
                            <button
                              class="btn-flat indigo white-text btn-large"
                              @click="submitForm"
                            >
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="page-footer glass">
      <div class="footer-copyright">
        <div class="container center blue-grey-text text-darken-4">
          Designed with
          <i class="material-icons red-text tiny"> favorite </i>
          by Akanksha Kale.
        </div>
      </div>
    </footer>

    <div id="waitoverlay">
      <div class="full-height valign-wrapper">
        <div class="full-width center">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/lib/materialize.min.js"></script>
    <script src="/js/lib/aos.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
